<h1>Sign Up</h1>
<form action="">
    <label for="username">Username</label>
    <input type="text" id="username" placeholder="Username">

    <label for="email">Email</label>
    <input type="email" id="email" placeholder="Email">

    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password"
     (input)="onInputPwd($event)">
    
    <label for="confirm">Confirm Password</label>
    <input type="password" id="confirm" placeholder="Confirm Password"
     (input)="onInputConfirm($event)">

    <button type="submit" [disabled]="isDisabled">Sign Up</button>
</form>

{{pwd1}} {{pwd2}}